<h2 mat-dialog-title>Hír hozzáadása</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline">
    <mat-label>Cím</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Leírás</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Cimke</mat-label>
    <mat-select [(ngModel)]="label">
      <mat-option value="Residental">Lakó</mat-option>
      <mat-option value="HMaster">Házmester</mat-option>
      <mat-option value="Pinned">Rögzített</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close color="primary" (click)="send()">
    Elküldés
  </button>
</mat-dialog-actions>
