<h1>Financial records</h1>
<div *ngFor="let i of financial">
    <mat-card class="resmeet-card" >
      <mat-card-header>
        <mat-card-title>{{i.title}} <Title></Title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
         Leírás: {{i.description}}
        </p>
        <p>
         Terv:  {{i.plan}}
        </p>
        <p>
         Tény:  {{i.fact}}
        </p>
        <p>
         Következő terv:  {{i.nextplan}}
        </p>
    </mat-card-content>
  </mat-card>
</div>