<nav class="nav"><p class="navbar">Hello {{user.username}} | {{user.adress}}</p><button mat-button class="navbar" (click)="logout()">LogOut</button></nav>
<div class="grid">
    <div class="main">
        <app-news class="news-component" [houseId]="user.house_id"></app-news>
        <mat-divider></mat-divider>
        <app-poll [houseId]="user.house_id"></app-poll>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="sidebar"><app-sidebar [houseId]="user.house_id"></app-sidebar></div>
</div>
