
<app-add-news></app-add-news>

<app-add-poll></app-add-poll>

<app-add-res-meet></app-add-res-meet>

<app-add-financial></app-add-financial>
<br>

<button (click)="makeUser()"> Make user</button>
<button mat-raised-button color="primary" (click)="showhideNewsandPolls()">Hírek és szavazások</button>
<button mat-raised-button color="primary" (click)="showhideResMeetandFin()">Lakógyúések és pénzügyek</button>
<div *ngIf="showNewsandPolls == true" >
    <app-news></app-news>
    <app-poll></app-poll>
</div>


<div *ngIf="showResMeetandFinancial == true" >
    <app-resmeet></app-resmeet>
    <app-financial></app-financial>
</div>
