.main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 30%;
}

.grid {
    display: flex;
    flex-direction: row;
}

.news-component {
    margin-bottom: 12px;
}