<button (click)="showhide()">Show / hide Add News</button>

<div *ngIf="showAddNews == true" >
    <p>title</p>
    <input type="text" [(ngModel)]= "title">
    <p>description</p>
    <input type="text" [(ngModel)]="description">
    <p>label</p>
    <select class="form-control" [(ngModel)]="label">
        <option value="Residental">Residental</option>
        <option value="HMaster">HMaster</option>
        <option value="Pinned">Pinned</option>
    </select>
    <button (click)="send()"> Send </button>

</div>
