::ng-deep.mat-dialog-container {
    height: 80vh;
    width: 50vw;
}

::ng-deep.mat-dialog-content {
    overflow-y: hidden !important;
}

::ng-deep.mat-form-field {
    width: 40vw !important;

    &.small {
        width: 10vw !important;
        margin-right: 12px;
    }

    textarea {
        height: 15vh;
    }
}