<div class="sidebar">
    <app-news class="news" [pinned]="true" [houseId]="houseId"></app-news>

    <div class="buttons">
        <button mat-button *ngIf="isHousemaster ==true" (click)="openMeetingDialog()">Add meeting</button>
        <button mat-button (click)="openNewsDialog()">Add news</button>
        <button mat-button (click)="openPollDialog()">Add poll</button>
        <button mat-button *ngIf="isHousemaster ==true" (click)="openFinancialDialog()">Add financial</button>
    </div>
</div>