
<button (click)="showhide()">Show/ Hide Add-Financial </button>
<div *ngIf="showFinancial ==true">
    <h2>Pénzügyi tábla felvitele</h2>

    <p>Cím</p>
    <input type="text" [(ngModel)]= "title">
    <p>Leírás</p>
    <input type="text" [(ngModel)]="description">
    <p>label</p>
    <!--  input type="text" [(ngModel)]="label"> -->    
    <p>Terv</p>
    <input type="text" [(ngModel)]="plan">
    <p>Tény</p>
    <input type="text" [(ngModel)]="fact">
    <p>Következő terv</p>
    <input type="text" [(ngModel)]="nextPlan">
    <p>House ID</p>
    <input type="text" [(ngModel)]="house_id">
    <br>
    <button (click)="send()">Küldés</button> 
</div>