<div>
    <h2>Pénzügyi tábla felvitele</h2>

    <mat-form-field appearance="outline">
        <mat-label>Cím</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Leírás</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Terv</mat-label>
        <input matInput [(ngModel)]="plan">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Tény</mat-label>
        <input matInput [(ngModel)]="fact">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Következő terv</mat-label>
        <input matInput [(ngModel)]="nextPlan">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ház azonosító</mat-label>
        <input matInput [(ngModel)]="house_id">
    </mat-form-field>
    <br>
    <button mat-raised-button mat-dialog-close color="primary" (click)="send()">Elküldés</button>
</div>